@import 'tailwindcss';
@plugin "daisyui" {
  themes: retro --default;
}

/* hide page scrollbar */
html {
  scrollbar-width: none;
} /* Firefox */
body {
  -ms-overflow-style: none;
} /* IE and Edge */
body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
  display: none;
} /* Chrome */
/* end hide page scrollbar */

.modal-box {
  width: auto;
}

.modal-action {
  margin-top: 0;
}

.modal-names-input {
  display: grid;
  gap: 0.5rem;
}

.table .actions {
  /* force table cell to shrink */
  width: 1px;
  white-space: nowrap;
}

.modal .fieldset input:not([type='checkbox']),
.modal .fieldset select,
.modal .fieldset .input.validator {
  width: 100%;
}

.modal .modal-action fieldset {
  width: 100%;
}

.modal-box {
  max-height: 90vh;
}
